<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<!-- <p><%=@QuestionsController%></p>  -->


<%=@question%>
<p>- You</p>

<%=@answer%>
<p>- Your coach</p>




